<div class="recover-container">
  <a routerLink="/login">
    <img src="/img/logo.png" alt="Logo" class="logo">
  </a>
  <mat-card>
    <mat-card-title>Recuperação de Senha</mat-card-title>
    <p>Digite seu e-mail e envie para receber o link de recuperação de senha.</p>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" [(ngModel)]="email" required />
      </mat-form-field>
  
      <button mat-raised-button color="primary" (click)="enviarRecuperacao()" [disabled]="isLoading">
        <mat-spinner *ngIf="isLoading" diameter="20" strokeWidth="3"></mat-spinner>
        <span *ngIf="!isLoading">Enviar Solicitação</span>
      </button>
  
      <mat-card *ngIf="mensagemRecuperacao" class="mensagem-box" [ngClass]="mensagemClasse">
        {{ mensagemRecuperacao }}
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
  