:host {
  display: flex;
  flex-direction: column;
  background-color: #EEF0FF;
  padding: 30px;
  min-height: auto;
  font-family: 'Roboto', sans-serif;
  flex-grow: 1;
}


.title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #1B263B;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  max-width: 100%;
  width: 100%;  
  flex-grow: 1;
}

.banco-container,
.credenciais-container {
  flex: 0 0 48%; 
  min-width: 300px;
}

.form-wrapper {
  position: relative;
  background-color: #EEF0FF;
  padding: 30px;
  border-radius: 16px;
}

.title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #1B263B;
  margin-bottom: 20px;
  
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #1B263B;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  z-index: 10;
  transition: color 0.2s;
}

.close-button:hover {
  color: #FF4C4C;
}




.banco-form,
.input-form {
  width: 100%;
  margin-bottom: 20px;
}

#banco-desc,
#credenciais-desc {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
  padding: 10px;
}

#banco-title {
  font-weight: 500;
  margin: 10px 0 5px;
  color: #1B263B;
}

.banco-img {
  display: block;
  margin: 20px auto 0;
  max-width: 150px;
  height: auto;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


.button-verify-and-save {
  background-color: #1B263B !important;
  color: white !important;
  padding: 16px 36px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.1rem;
  transition: background-color 0.3s;
  min-width: 250px;
}


.button-verify-and-save:hover {
  background-color: #162133 !important;
}
