:host {
  display: flex;
  flex-direction: column;
  background-color: #eef0ff;
  padding: 30px;
  min-height: auto;
  font-family: "Roboto", sans-serif;
  flex-grow: 1;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #1b263b;
  margin-bottom: 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
}

.banco-container,
.credenciais-container {
  flex: 1;
  min-width: 300px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
  }

  .banco-container,
  .credenciais-container {
    width: 100%;
    min-width: 100%;
  }

  .form-wrapper {
    padding: 20px 12px;
    overflow-x: hidden;
  }

  .button-verify-and-save {
    width: 100%;
    min-width: unset;
  }
}

.form-wrapper {
  position: relative;
  background-color: #eef0ff;
  padding: 30px;
  border-radius: 16px;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #1b263b;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  z-index: 10;
  transition: color 0.2s;
}

.close-button:hover {
  color: #ff4c4c;
}

.banco-form,
.input-form {
  width: 100%;
  margin-bottom: 20px;
}

#banco-desc,
#credenciais-desc {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
  padding: 10px;
}

#banco-title {
  font-weight: 500;
  margin: 10px 0 5px;
  color: #1b263b;
}

.banco-img {
  display: block;
  margin: 20px auto 0;
  max-width: 150px;
  height: auto;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.button-verify-and-save {
  background-color: #1b263b !important;
  color: white !important;
  padding: 16px 36px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  transition: background-color 0.3s;
  min-width: 250px;
  box-shadow: 6px 6px 8px 1px rgba(27, 38, 59, 0.3);
}

.button-verify-and-save:hover {
  background-color: #162133 !important;
}

.mensagem-sucesso {
  color: green;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

.mensagem-erro {
  color: red;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}
