.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eef0ff;
  flex-direction: column;
}

.error-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffcccc;
  color: #d8000c;
  border: 1px solid #d8000c;
  border-radius: 8px;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
  width: 100%;
  max-width: 400px;
}

.error-icon {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

mat-icon {
  font-size: 20px;
}

.card-principal {
  width: 450px;
  padding: 20px;
  text-align: center;
}

mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1b263b;
  padding: 10px;
}

.login-subtitle {
  padding-inline: 10px;
  padding-bottom: 15px;
}

.input-credentials {
  border-radius: 10px;
  width: 100%;
  height: 50%;
  margin-top: 15px;
}
.forgot-password-btn {
  display: block;
  margin: 0px 0;
  color: #007bff;
  text-transform: none;
}

::ng-deep .enter-button {
  width: 100% !important;
  padding: 10px !important;
  font-size: 1rem !important;
  margin-top: 20px !important;
  background-color: #1b263b !important;
  color: white !important;
  border-radius: 20px !important;
}

button.mat-raised-button {
  background-color: #1b263b;
  color: white;
}

button.mat-raised-button:hover {
  background-color: #162133;
}

.logo {
  width: 120px;
  height: auto;
  position: absolute;
  top: 30px;
  left: 30px;
}

.login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
