

<div class="login-container">
    <img src="/img/logo.png" alt="Logo" class="logo">
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <p class="login-subtitle">Utilize suas credenciais para acessar o sistema</p>
      <mat-card-content>
        <form (submit)="onSubmit()">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" [(ngModel)]="email" name="email" required />
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Senha</mat-label>
            <input matInput type="password" [(ngModel)]="password" name="password" required />
          </mat-form-field>
  
          <button mat-raised-button class="full-width">Entrar</button>
        </form>
      </mat-card-content>
    </mat-card>

  </div>
  