<div class="login-container">
    <img src="/img/logo.png" alt="Logo" class="logo">
    <div *ngIf="errorMessage" class="error-box">
      <mat-icon class="error-icon">error</mat-icon> 
      <span>{{ errorMessage }}</span>
    </div>
    
    <mat-card class="card-principal">
      <mat-card-title>Login</mat-card-title>
      <p class="login-subtitle">Utilize suas credenciais para acessar o sistema</p>
      <mat-card-content>
        <form (submit)="onSubmit()">
          <mat-form-field appearance="outline" class="input-credentials">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" [(ngModel)]="email" name="email" required />
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="input-credentials" >
            <mat-label>Senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password" required />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="hide ? 'Mostrar senha' : 'Ocultar senha'" type="button">
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>

          <button mat-button class="forgot-password-btn" (click)="esqueciMinhaSenha()" type="button">Esqueci minha senha</button>
          <button mat-raised-button class="enter-button">Entrar</button>
        </form>
      </mat-card-content>
    </mat-card>

  </div>
  