.sidenav-container {
    height: 100vh;
  }
  
  mat-sidenav {
    width: 250px;
    background-color: #fff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  }

  .conteudo-home{

    background-color: #EEF0FF;

  }
  